.header {
    display: flex;
    top: 0;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.header_logo img {
    width: 28px;
    height: 28px;
}
.menu_periods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.menu_periods ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.menu_periods ul li {
    cursor: pointer;
}

.menu_periods img {
    cursor: pointer;
}
