header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 37px;
    padding: 0 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.header_logo img {
    width: 28px;
    height: 28px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.controls__periods {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.controls__periods li {
    cursor: pointer;
}

.controls__cart img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
