.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-top: 50px;
    z-index: 1000;

    width: 100%;
    height: 37px;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.header_logo img {
    width: 28px;
    height: 28px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.controls__periods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.period {
    list-style: none;
    cursor: pointer;
    color: #6b6b6b;
    font-weight: 300;
    font-size: medium;
}

.period.selected {
    color: #232323;
    font-weight: 450;
}

.controls__cart img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
