:root {
    margin: 0 auto;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(26, 26, 26, 0.87);
    background-color: #f7f4df;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    padding: 0 5%;
}
