:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(26, 26, 26, 0.87);
    background-color: #f7f4df;
}

body {
    max-width: 1512px;
    padding: 0;
    margin: 0 auto;
}
